

<!--    <form method="post" action="/quizes/<%=quiz.id%>/comments/<%=quiz.comments.id%>/update?_method=put">

        <h4><%=quiz.id%></h4>
        <h5><%=quiz.comments.id%></h5>

        <input type="text" class="form-control" id="lectura_actual" name="quiz.comments.lectura_actual" value="<%=quiz.comments.lectura_actual%>" placeholder="lectura_actual"/>
        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar</button>

    </form> -->
