
<div class="container-fluid animated fadeIn" id="vaso_form">

    <h4><img src="/images/vasos.png" alt="" /> Vaso</h4>
    <br>


    <div class="form-group">
        <label for="nombre" class="col-md-3 control-label">Nombre:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="nombre" name="vaso[nombre]" value="<%= vaso.nombre %>" placeholder="nombre" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="ubicacion" class="col-md-3 control-label">Ubicación:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="ubicacion" name="vaso[ubicacion]" value="<%= vaso.ubicacion %>" placeholder="ubicacion" required/>
        </div>
    </div>

    <div class="form-group">
        <label for="capacidad" class="col-md-3 control-label">Capacidad:</label>
        <div class="col-md-9">
            <input type="number" class="form-control" id="capacidad" name="vaso[capacidad]" value="<%= vaso.capacidad %>" placeholder="capacidad" required step="0.1"/>
        </div>
    </div>

    <div class="form-group">
        <label for="interior" class="col-md-3 control-label">Interior:</label>
        <div class="col-md-1">
            <% if (vaso.interior) { %>
                <input type="checkbox" class="form-control" checked id="interior" name="vaso[interior]" value="<%= vaso.interior %>" />
            <%} else { %>
                <input type="checkbox" class="form-control" id="interior" name="vaso[interior]" value="<%= vaso.interior %>" />
            <%}%>
        </div>
    </div>



    <div class="form-group">
        <label for="tipo_ensayo" class="col-sm-3 control-label">Tipo de Ensayo:</label>
        <div class="col-sm-3">
            <select class="form-control" id="tipo_ensayo" name="vaso[tipo_ensayo]">
                <option value="Completo" <%if (vaso.tipo_ensayo==="Completo") {%> selected <%}%>>Completo</option>
                <option value="Parcial" <%if (vaso.tipo_ensayo==="Parcial") {%> selected <%}%>>Parcial</option>
            </select>
        </div>
    </div>

</div>

<br>







<div class="container-fluid animated fadeIn">

    <div id="accordion" role="tablist" aria-multiselectable="true">

        <div class="card">

            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#bacteriologicos" aria-expanded="true" aria-controls="bacteriologicos">
                        <strong>Bacteriológicos:</strong> E. Coli, Psudomoma, Enterococos, Staphlylococos ...
                    </a>
                </h5>
            </div>

            <div id="bacteriologicos" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="marco_grupo_desplegables animated fadeIn">

                        <div class="row items_ensayo">

                            <div class="col-md-4 col-sm-4">
                                <div class="marco_item">
                                    <div class="form-group">
                                		<label for="transparencia" class="col-md-6 control-label">Transparencia:</label>
                                		<div class="col-md-6">
                                			<select class="form-control" id="transparencia" name="vaso[transparencia]">
                                				<option value='cumple' <%if (vaso.transparencia==='cumple') {%> selected <%}%>>✔️ Cumple</option>
                                				<option value='no cumple' <%if (vaso.transparencia==='no cumple') {%> selected <%}%>>❌ No cumple</option>
                                				<option value='no ensaya' <%if (vaso.transparencia==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
                                			</select>
                                		</div>
                                	</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="marco_item">
                                    <div class="form-group">
                                		<label for="extranios" class="col-sm-6 control-label">Cuerpos Extraños:</label>
                                		<div class="col-md-6">
                                			<select class="form-control" id="extranios" name="vaso[extranios]">
                                				<option value='cumple' <%if (vaso.extranios==='cumple') {%> selected <%}%>>✔️ Cumple</option>
                                				<option value='no cumple' <%if (vaso.extranios==='no cumple') {%> selected <%}%>>❌ No cumple</option>
                                                <option value='no ensaya' <%if (vaso.extranios==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
                                			</select>
                                		</div>
                                	</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="marco_item">
                                    <div class="form-group">
                                		<label for="ecoli" class="col-md-6 control-label">Écoli:</label>
                                		<div class="col-md-6">
                                			<select class="form-control" id="ecoli" name="vaso[ecoli]">
                                				<option value='cumple' <%if (vaso.ecoli==='cumple') {%> selected <%}%>>✔️ Cumple</option>
                                				<option value='no cumple' <%if (vaso.ecoli==='no cumple') {%> selected <%}%>>❌ No cumple</option>
                                                <option value='no ensaya' <%if (vaso.ecoli==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
                                			</select>
                                		</div>
                                	</div>
                                    <br>
                                </div>
                            </div>

                        </div> <!-- fin primer row -->

                        <div class="row items_ensayo">

                            <div class="col-md-4 col-sm-4">
                                <div class="marco_item">
                                    <div class="form-group">
                                		<label for="pseudomona" class="col-md-6 control-label">Pseudomona:</label>
                                		<div class="col-md-6">
                                			<select class="form-control" id="pseudomona" name="vaso[pseudomona]">
                                				<option value='cumple' <%if (vaso.pseudomona==='cumple') {%> selected <%}%>>✔️ Cumple</option>
                                				<option value='no cumple' <%if (vaso.pseudomona==='no cumple') {%> selected <%}%>>❌ No cumple</option>
                                                <option value='no ensaya' <%if (vaso.pseudomona==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
                                			</select>
                                		</div>
                                	</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="marco_item">
                                    <div class="form-group">
                                		<label for="enterococos" class="col-md-6 control-label">Enterococos:</label>
                                		<div class="col-md-6">
                                			<select class="form-control" id="enterococos" name="vaso[enterococos]">
                                				<option value='cumple' <%if (vaso.enterococos==='cumple') {%> selected <%}%>>✔️ Cumple</option>
                                				<option value='no cumple' <%if (vaso.enterococos==='no cumple') {%> selected <%}%>>❌ No cumple</option>
                                                <option value='no ensaya' <%if (vaso.enterococos==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
                                			</select>
                                		</div>
                                	</div>
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4">
                                <div class="marco_item">
                                    <div class="form-group">
                                		<label for="staphlylococcus" class="col-md-6 control-label">Staphlylococcus:</label>
                                		<div class="col-md-6">
                                			<select class="form-control" id="staphlylococcus" name="vaso[staphlylococcus]">
                                				<option value='cumple' <%if (vaso.staphlylococcus==='cumple') {%> selected <%}%>>✔️ Cumple</option>
                                				<option value='no cumple' <%if (vaso.staphlylococcus==='no cumple') {%> selected <%}%>>❌ No cumple</option>
                                                <option value='no ensaya' <%if (vaso.staphlylococcus==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
                                			</select>
                                		</div>
                                	</div>
                                </div>
                            </div>

                        </div> <!-- fin 2º row -->

                    </div>

                </div>

            </div>

        </div>  <!-- fin primer card del acordeon -->


        <div class="card">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#fisicos" aria-expanded="false" aria-controls="fisicos">
                        <strong>Físicos:</strong> Ph, Temperatura, Turbidez, Recirculación, Redox ...
                    </a>
                </h5>
            </div>
            <div id="fisicos" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">

                    <div class="marco_grupo_items animated fadeIn">


                        <div class="row items_ensayo">

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="ph_max" class="control-label">ph Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="ph_max" name="vaso[ph_max]" value="<%= vaso.ph_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="ph_min" class="control-label">ph Mínimo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="ph_min" name="vaso[ph_min]" value="<%= vaso.ph_min.toFixed(1) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.ph_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="ph_ensayar" name="vaso[ph_ensayar]" value="<%= vaso.ph_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="ph_ensayar" name="vaso[ph_ensayar]" value="<%= vaso.ph_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="temp_max" class="control-label">Temperatura Máxima:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="temp_max" name="vaso[temp_max]" value="<%= vaso.temp_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="temp_min" class="control-label">Temperatura Mínima:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="temp_min" name="vaso[temp_min]" value="<%= vaso.temp_min.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.temp_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="temp_ensayar" name="vaso[temp_ensayar]" value="<%= vaso.temp_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="temp_ensayar" name="vaso[temp_ensayar]" value="<%= vaso.temp_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="turbidez_max" class="control-label">Turbidez Máxima:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="turbidez_max" name="vaso[turbidez_max]" value="<%= vaso.turbidez_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.turbidez_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="turbidez_ensayar" name="vaso[turbidez_ensayar]" value="<%= vaso.turbidez_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="turbidez_ensayar" name="vaso[turbidez_ensayar]" value="<%= vaso.turbidez_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="recirculacion" class="control-label">Recirculación:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="recirculacion" name="vaso[recirculacion]" value="<%= vaso.recirculacion.toFixed(2) %>" step="0.1"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.recirculacion_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="recirculacion_ensayar" name="vaso[recirculacion_ensayar]" value="<%= vaso.recirculacion_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="recirculacion_ensayar" name="vaso[recirculacion_ensayar]" value="<%= vaso.recirculacion_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- fin 1er row -->

                        <div class="row items_ensayo">

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="redox_max" class="control-label">Redox Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="redox_max" name="vaso[redox_max]" value="<%= vaso.redox_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="redox_min" class="control-label">Redox Mínimo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="redox_min" name="vaso[redox_min]" value="<%= vaso.redox_min.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.redox_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="redox_ensayar" name="vaso[redox_ensayar]" value="<%= vaso.redox_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="redox_ensayar" name="vaso[redox_ensayar]" value="<%= vaso.redox_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- fin 2º row -->
                    </div>
                </div>
            </div>
        </div> <!--fin 2º card -->


        <div class="card">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#quimicos" aria-expanded="false" aria-controls="quimicos">
                        <strong>Químicos:</strong> Cloro, Cloro combinado, Bromo, Isocianuro ...
                    </a>
                </h5>
            </div>
            <div id="quimicos" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="marco_grupo_items animated fadeIn">
                        <div class="row items_ensayo">

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="cloro_max" class="control-label">Cl Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="cloro_max" name="vaso[cloro_max]" value="<%= vaso.cloro_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="cloro_min" class="control-label">Cl Mínimo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="cloro_min" name="vaso[cloro_min]" value="<%= vaso.cloro_min.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.cloro_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="cloro_ensayar" name="vaso[cloro_ensayar]" value="<%= vaso.cloro_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="cloro_ensayar" name="vaso[cloro_ensayar]" value="<%= vaso.cloro_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="cloro_combinado_max" class="control-label">Cl Combinado Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="cloro_combinado_max" name="vaso[cloro_combinado_max]" value="<%= vaso.cloro_combinado_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.cloro_combinado_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="cloro_combinado_ensayar" name="vaso[cloro_combinado_ensayar]" value="<%= vaso.cloro_combinado_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="cloro_combinado_ensayar" name="vaso[cloro_combinado_ensayar]" value="<%= vaso.cloro_combinado_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="bromo_max" class="control-label">Br Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="bromo_max" name="vaso[bromo_max]" value="<%= vaso.bromo_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="bromo_min" class="control-label">Br Mínimo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="bromo_min" name="vaso[bromo_min]" value="<%= vaso.bromo_min.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.bromo_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="bromo_ensayar" name="vaso[bromo_ensayar]" value="<%= vaso.bromo_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="bromo_ensayar" name="vaso[bromo_ensayar]" value="<%= vaso.bromo_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="isocianuro_max" class="control-label">Isocianuro Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="isocianuro_max" name="vaso[isocianuro_max]" value="<%= vaso.isocianuro_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.isocianuro_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="isocianuro_ensayar" name="vaso[isocianuro_ensayar]" value="<%= vaso.isocianuro_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="isocianuro_ensayar" name="vaso[isocianuro_ensayar]" value="<%= vaso.isocianuro_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- fin 1er row -->
                    </div>
                </div>
            </div>
        </div> <!-- fin del 3er card -->

        <div class="card">
            <div class="card-header" role="tab" id="headingFour">
                <h5 class="mb-0">
                    <a class="collapsed" data-toggle="collapse" href="#interiores" aria-expanded="false" aria-controls="interiores">
                        <strong>Interior:</strong> Humedad, Co2, Legionella, Langelier ...
                    </a>
                </h5>
            </div>
            <div id="interiores" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="marco_grupo_items animated fadeIn">
                        <div class="row items_ensayo">

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="humedad_max" class="control-label">Humedad Máxima:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="humedad_max" name="vaso[humedad_max]" value="<%= vaso.humedad_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.humedad_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="humedad_ensayar" name="vaso[humedad_ensayar]" value="<%= vaso.humedad_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="humedad_ensayar" name="vaso[humedad_ensayar]" value="<%= vaso.humedad_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="co2_interior" class="control-label">CO2 Interior:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="co2_interior" name="vaso[co2_interior]" value="<%= vaso.co2_interior.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.co2_interior_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="co2_interior_ensayar" name="vaso[co2_interior_ensayar]" value="<%= vaso.co2_interior_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="co2_interior_ensayar" name="vaso[co2_interior_ensayar]" value="<%= vaso.co2_interior_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="co2_exterior" class="control-label">CO2 Exterior:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="co2_exterior" name="vaso[co2_exterior]" value="<%= vaso.co2_exterior.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.co2_exterior_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="co2_exterior_ensayar" name="vaso[co2_exterior_ensayar]" value="<%= vaso.co2_exterior_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="co2_exterior_ensayar" name="vaso[co2_exterior_ensayar]" value="<%= vaso.co2_exterior_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="legionella_max" class=" control-label">Legionella Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="legionella_max" name="vaso[legionella_max]" value="<%= vaso.legionella_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.legionella_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="legionella_ensayar" name="vaso[legionella_ensayar]" value="<%= vaso.legionella_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="legionella_ensayar" name="vaso[legionella_ensayar]" value="<%= vaso.legionella_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- fin 1er row -->

                        <div class="row items_ensayo">

                            <div class="col-md-3 col-sm-3">
                                <div class="marco_item">
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="langelier_max" class=" control-label">Langelier Máximo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="langelier_max" name="vaso[langelier_max]" value="<%= vaso.langelier_max.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-xs-4 item_ensayo">
                                            <label for="langelier_min" class=" control-label">Langelier Mínimo:</label>
                                        </div>
                                        <div class="col-md-6 col-xs-8">
                                            <input type="number" class="form-control" id="langelier_min" name="vaso[langelier_min]" value="<%= vaso.langelier_min.toFixed(2) %>" step="0.01"/>
                                        </div>
                                    </div>
                                    <div class="form-check pie_grupo_items_ensayo">
                                        <label for="ensayar" class="col-md-6 form-check-label">Ensayar:</label>
                                        <div class="col-md-3">
                                            <% if (vaso.langelier_ensayar) { %>
                                                <input type="checkbox" class="form-check-input" checked id="langelier_ensayar" name="vaso[langelier_ensayar]" value="<%= vaso.langelier_ensayar %>" />
                                            <%} else { %>
                                                <input type="checkbox" class="form-check-input" id="langelier_ensayar" name="vaso[langelier_ensayar]" value="<%= vaso.langelier_ensayar %>" />
                                            <%}%>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div> <!-- fin 2º row -->

                    </div> <!-- fin marco_grupo_items -->

                </div>
            </div>
        </div> <!-- fin del 4º card -->

    </div> <!-- fin acordeon -->

    <!-- <p>
        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#notice" aria-expanded="false" aria-controls="notice">
            <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Info
        </button>
    </p>
    <div class="collapse" id="notice">
        <div class="card card-body">
            <div class="alert alert-info" role="alert">
                <strong>Precaución!</strong> Los valores actuales de estos campos serán incorporados a los partes de Ensayo diarios.
                <hr>
                Cada nuevo Parte de Ensayo de éste vaso se generará con estos valores. Se podrán reajustar según las necesidades de ensayo de cada momento.
            </div>
        </div>
    </div> -->

    <% if (session.user) {
        if (session.user.isAdmin) {%>
            <div class="col-md-12">
                <div class="form-group text-center">
            		<ul class="tira_botones">

                        <li><a class="btn btn_gral btn_cancelar" href="/vasos">
                			<i class="fa fa-times texto_tipo_5" alt=""></i> Cancelar
                		</a></li>

                		<li><button class="btn btn_gral" type="submit" id="grabar" value="Salvar">
                			<i class="fa fa-check texto_tipo_4" alt=""></i> Grabar
                		</button></li>

            		</ul>
            	</div>
            </div>


        <%}%>
    <%}%>


</div>
