
<div class="container" id="vaso_form">

    <h4><img src="/images/vasos.png" alt="" /> Vaso</h4>
    <br>



    <div class="form-group">
        <label for="nombre" class="col-md-3 control-label">Nombre:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="nombre" name="vaso[nombre]" value="<%= vaso.nombre %>" placeholder="nombre"/>
        </div>
    </div>

    <div class="form-group">
        <label for="ubicacion" class="col-md-3 control-label">Ubicación:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="ubicacion" name="vaso[ubicacion]" value="<%= vaso.ubicacion %>" placeholder="ubicacion"/>
        </div>
    </div>

    <div class="form-group">
        <label for="capacidad" class="col-md-3 control-label">Capacidad:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="capacidad" name="vaso[capacidad]" value="<%= vaso.capacidad %>" placeholder="capacidad"/>
        </div>
    </div>

    <div class="form-group">
        <label for="interior" class="col-md-3 control-label">Interior:</label>
        <div class="col-md-1">
            <% if (vaso.interior) { %>
                <input type="checkbox" class="form-control" checked id="interior" name="vaso[interior]" value="<%= vaso.interior %>" />
            <%} else { %>
                <input type="checkbox" class="form-control" id="interior" name="vaso[interior]" value="<%= vaso.interior %>" />
            <%}%>
        </div>
    </div>



    <div class="form-group">
        <label for="tipo_ensayo" class="col-sm-3 control-label">Tipo de Ensayo:</label>
        <div class="col-sm-3">
            <select class="form-control" id="tipo_ensayo" name="vaso[tipo_ensayo]">
                <option value="Completo" <%if (vaso.tipo_ensayo==="Completo") {%> selected <%}%>>Completo</option>
                <option value="Parcial" <%if (vaso.tipo_ensayo==="Parcial") {%> selected <%}%>>Parcial</option>
            </select>
        </div>
    </div>



    <br>

    <div class="col-md-6">
        <div class="form-group">
            <label for="ph_max" class="col-md-7 control-label">ph Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="ph_max" name="vaso[ph_max]" value="<%= vaso.ph_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="ph_min" class="col-md-7 control-label">ph Mínimo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="ph_min" name="vaso[ph_min]" value="<%= vaso.ph_min.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="ensayar" class="col-md-7 control-label">Ensayar ph:</label>
        <div class="col-md-5">
            <% if (vaso.ph_ensayar) { %>
                <input type="checkbox" class="form-control" checked id="ph_ensayar" name="vaso[ph_ensayar]" value="<%= vaso.ph_ensayar %>" />
            <%} else { %>
                <input type="checkbox" class="form-control" id="ph_ensayar" name="vaso[ph_ensayar]" value="<%= vaso.ph_ensayar %>" />
            <%}%>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="redox_max" class="col-md-7 control-label">Redox Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="redox_max" name="vaso[redox_max]" value="<%= vaso.redox_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="redox_min" class="col-md-7 control-label">Redox Mínimo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="redox_min" name="vaso[redox_min]" value="<%= vaso.redox_min.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="temp_max" class="col-md-7 control-label">Temperatura Máxima:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="temp_max" name="vaso[temp_max]" value="<%= vaso.temp_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="temp_min" class="col-md-7 control-label">Temperatura Mínima:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="temp_min" name="vaso[temp_min]" value="<%= vaso.temp_min.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="recirculacion" class="col-md-7 control-label">Recirculación:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="recirculacion" name="vaso[recirculacion]" value="<%= vaso.recirculacion.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
    		<label for="transparencia" class="col-md-7 control-label">Transparencia:</label>
    		<div class="col-sm-5">
    			<select class="form-control" id="transparencia" name="vaso[transparencia]">
    				<option value='cumple' <%if (vaso.transparencia==='cumple') {%> selected <%}%>>Cumple</option>
    				<option value='no cumple' <%if (vaso.transparencia==='no cumple') {%> selected <%}%>>No cumple</option>
    				<option value='no ensaya' <%if (vaso.transparencia==='no ensaya') {%> selected <%}%>>No ensaya</option>
    			</select>
    		</div>
    	</div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
    		<label for="extranios" class="col-md-7 control-label">Cuerpos Extraños:</label>
    		<div class="col-sm-5">
    			<select class="form-control" id="extranios" name="vaso[extranios]">
    				<option value='cumple' <%if (vaso.extranios==='cumple') {%> selected <%}%>>Cumple</option>
    				<option value='no cumple' <%if (vaso.extranios==='no cumple') {%> selected <%}%>>No cumple</option>
                    <option value='no ensaya' <%if (vaso.extranios==='no ensaya') {%> selected <%}%>>No ensaya</option>
    			</select>
    		</div>
    	</div>
    </div>



    <div class="col-md-6">
        <div class="form-group">
            <label for="turbidez_max" class="col-md-7 control-label">Turbidez Máxima:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="turbidez_max" name="vaso[turbidez_max]" value="<%= vaso.turbidez_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="isocianuro_max" class="col-md-7 control-label">Isocianuro Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="isocianuro_max" name="vaso[isocianuro_max]" value="<%= vaso.isocianuro_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="cloro_combinado_max" class="col-md-7 control-label">Cl Combinado Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="cloro_combinado_max" name="vaso[cloro_combinado_max]" value="<%= vaso.cloro_combinado_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="cloro_max" class="col-md-7 control-label">Cl Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="cloro_max" name="vaso[cloro_max]" value="<%= vaso.cloro_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="cloro_min" class="col-md-7 control-label">Cl Mínimo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="cloro_min" name="vaso[cloro_min]" value="<%= vaso.cloro_min.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="bromo_max" class="col-md-7 control-label">Br Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="bromo_max" name="vaso[bromo_max]" value="<%= vaso.bromo_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="bromo_min" class="col-md-7 control-label">Br Mínimo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="bromo_min" name="vaso[bromo_min]" value="<%= vaso.bromo_min.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="co2_interior" class="col-md-7 control-label">CO2 Interior:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="co2_interior" name="vaso[co2_interior]" value="<%= vaso.co2_interior.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="co2_exterior" class="col-md-7 control-label">CO2 Exterior:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="co2_exterior" name="vaso[co2_exterior]" value="<%= vaso.co2_exterior.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="langelier_max" class="col-md-7 control-label">Langelier Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="langelier_max" name="vaso[langelier_max]" value="<%= vaso.langelier_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="langelier_min" class="col-md-7 control-label">Langelier Mínimo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="langelier_min" name="vaso[langelier_min]" value="<%= vaso.langelier_min.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="legionella_max" class="col-md-7 control-label">Legionella Máximo:</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="legionella_max" name="vaso[legionella_max]" value="<%= vaso.legionella_max.toFixed(2) %>" step="0.01"/>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
    		<label for="ecoli" class="col-md-7 control-label">Écoli:</label>
    		<div class="col-sm-5">
    			<select class="form-control" id="ecoli" name="vaso[ecoli]">
    				<option value='cumple' <%if (vaso.ecoli==='cumple') {%> selected <%}%>>Cumple</option>
    				<option value='no cumple' <%if (vaso.ecoli==='no cumple') {%> selected <%}%>>No cumple</option>
                    <option value='no ensaya' <%if (vaso.ecoli==='no ensaya') {%> selected <%}%>>No ensaya</option>
    			</select>
    		</div>
    	</div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
    		<label for="pseudomona" class="col-md-7 control-label">Pseudomona:</label>
    		<div class="col-sm-5">
    			<select class="form-control" id="pseudomona" name="vaso[pseudomona]">
    				<option value='cumple' <%if (vaso.pseudomona==='cumple') {%> selected <%}%>>Cumple</option>
    				<option value='no cumple' <%if (vaso.pseudomona==='no cumple') {%> selected <%}%>>No cumple</option>
                    <option value='no ensaya' <%if (vaso.pseudomona==='no ensaya') {%> selected <%}%>>No ensaya</option>
    			</select>
    		</div>
    	</div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
    		<label for="enterococos" class="col-md-7 control-label">Enterococos:</label>
    		<div class="col-sm-5">
    			<select class="form-control" id="enterococos" name="vaso[enterococos]">
    				<option value='cumple' <%if (vaso.enterococos==='cumple') {%> selected <%}%>>Cumple</option>
    				<option value='no cumple' <%if (vaso.enterococos==='no cumple') {%> selected <%}%>>No cumple</option>
                    <option value='no ensaya' <%if (vaso.enterococos==='no ensaya') {%> selected <%}%>>No ensaya</option>
    			</select>
    		</div>
    	</div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
    		<label for="staphlylococcus" class="col-md-7 control-label">Staphlylococcus:</label>
    		<div class="col-sm-5">
    			<select class="form-control" id="staphlylococcus" name="vaso[staphlylococcus]">
    				<option value='cumple' <%if (vaso.staphlylococcus==='cumple') {%> selected <%}%>>Cumple</option>
    				<option value='no cumple' <%if (vaso.staphlylococcus==='no cumple') {%> selected <%}%>>No cumple</option>
                    <option value='no ensaya' <%if (vaso.staphlylococcus==='no ensaya') {%> selected <%}%>>No ensaya</option>
    			</select>
    		</div>
    	</div>
    </div>



    <% if (session.user) {
        if (session.user.isAdmin) {%>


        <div class="col-md-12">

            <div class="form-group text-center">

        		<ul class="tira_botones">

        			<li><a class="btn btn_gral btn_cancelar" href="/vasos">
        				Cancelar
        			</a></li>

        			<li><button class="btn btn_gral" type="submit" id="grabar" value="Salvar">
        				Grabar
        			</button></li>

        		</ul>

        	</div>

        </div>


        <%}%>
    <%}%>

</div>
