
	<div class="container" id="user_form">

		<h4><img src="/images/user2.png" alt=""> Usuario</h4>
	    <br>

		<div class="form-group">
			<label for="preg" class="col-sm-3 control-label">Usuario:</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" id="username" name="user[username]" value="<%= user.username %>" required />
			</div>
		</div>

		<div class="form-group">
			<label for="resp" class="col-sm-3 control-label">Clave:</label>
			<div class="col-sm-9">
				<input type="password" class="form-control" id="pass" name="user[password]" required />
			</div>
		</div>

		<div class="form-group">
			<label for="email" class="col-sm-3 control-label">eMail:</label>
			<div class="col-sm-9">
				<input type="email" class="form-control" id="email" name="user[email]" value="<%= user.email %>" required />
			</div>
		</div>


		<% if (session.user.isSuperAdmin) {%>

			<div class="form-group">
				<label for="admin" class="col-md-3 control-label">Administrador:</label>
				<div class="col-md-1">
					<% if (user.isAdmin) { %>
						<input type="checkbox" class="form-control" checked id="admin" name="user[isAdmin]" value="<%= user.isAdmin %>"/>
					<%} else { %>
						<input type="checkbox" class="form-control" id="admin" name="user[isAdmin]" value="<%= user.isAdmin %>"/>
					<%}%>


				</div>
			</div>



			<div class="form-group">
				<label for="centro" class="col-sm-3 control-label">Centro:</label>
				<div class="col-sm-9">
					<select class="form-control" id="centro" name="user[centro]">
						<% for (var index in centros) {%>
							<option value="<%=centros[index].nombre%>" <% if (user.centro===centros[index].nombre) {%> selected <%}%>><%=centros[index].nombre%></option>
						<%}%>
					</select>
				</div>
			</div>


		<%} else {%>
			<% user.centro = session.user.centro %>
			<input type="text" class="form-control hidden" id="centro" name="user[centro]" value="<%= user.centro %>"/>
<!--			<input type="text" class="form-control hidden" id="isAdmin" name="user[isAdmin]" value="<%= user.isAdmin %>"/> -->
		<%}%>



	</div>

	<br><br>

	<div class="form-group text-center">
		<ul class="tira_botones">
			<li><a class="btn btn_gral btn_cancelar" href="/user">
				<i class="fa fa-times texto_tipo_5" alt=""></i> Cancelar
			</a></li>

			<li><button class="btn btn_gral" type="submit" id="grabar" value="Salvar">
				<i class="fa fa-check texto_tipo_4" alt=""></i> Grabar
			</button></li>
		</ul>
	</div>
