
<div class="container" id="parte_form">

	<h4><img src="/images/partes3.png" alt=""> Parte</h4>
	<br>


	<div class="form-group">
		<label for="preg" class="col-sm-2 control-label">Día:</label>
		<div class="col-sm-10">
			<input type="number" min="1" max="31" class="form-control" id="dia" name="quiz[dia]" value="<%= quiz.dia %>" placeholder="mes"/>
		</div>
	</div>

	<div class="form-group">
		<label for="preg" class="col-sm-2 control-label">Mes:</label>
		<div class="col-sm-10">
			<input type="number" min="1" max="12" class="form-control" id="mes" name="quiz[mes]" value="<%= quiz.mes %>" placeholder="mes"/>
		</div>
	</div>

	<div class="form-group">
		<label for="preg" class="col-sm-2 control-label">Año:</label>
		<div class="col-sm-10">
			<input type="number" min="2016" max="2030" class="form-control" id="anio" name="quiz[anio]" value="<%= quiz.anio %>" placeholder="fecha"/>
		</div>
	</div>

	<div class="form-group">
		<label for="preg" class="col-sm-2 control-label">Motivo:</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="motivo"/>
		</div>
	</div>

	<div class="form-group">
		<label for="preg" class="col-sm-2 control-label">Proveedor:</label>
		<div class="col-sm-10">
			<select class="form-control" id="pro" name="quiz[proveedor]">
				<% for (var index in proveedor) {%>
					<option value="<%=proveedor[index].nombre%>" <% if (quiz.proveedor===proveedor[index].nombre) {%> selected <%}%>><%=proveedor[index].nombre%></option>
				<%}%>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="preg" class="col-sm-2 control-label">Status:</label>
		<div class="col-sm-10">
			<select class="form-control" id="proceso" name="quiz[proceso]">
				<option value=true <%if (quiz.proceso) {%> selected <%}%>>Pendiente</option>
				<option value=false <%if (!quiz.proceso) {%> selected <%}%>>Revisado</option>
			</select>
		</div>
	</div>

	<div class="form-group text-center">
		<div class="col-sm-offset-2 col-sm-10">
			<a href="/quizes">
				<button class="btn btn-danger btn-sm" type="button">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
				</button>
			</a>
			<button class="btn btn-success btn-sm" type="submit" id="grabar" value="Salvar">
				<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Grabar
			</button>
		</div>
	</div>

</div>
