
<div class="container-fluid animated animated-fast fadeIn" id="partes_index">

	<h4><img src="/images/partes3.png" alt="" /> Partes</h4>

<!--		<% if (session.user) { %>
		<div class="btn-group" role="group" aria-label="...">
		<a href="/quizes">
  				<button type="button" class="btn btn-default">Mes</button>
  			</a>
  			<a href="/quizes/opened">
				<button type="button" class="btn btn-default">Abiertos</button>
			</a>
			<a href="/quizes/closed">
				<button type="button" class="btn btn-default">Cerrados</button>
			</a>






		</div>
	<%}%> -->

	<div class="panel panel-default table-responsive">

		<table class="table table-striped table-hover">
			<thead>
				<tr>
<!--					<th>Centro</th> -->

					<th class="text-center">Fecha</th>
					<th class="text-center">Parte</th>
					<th class="text-center">User</th>
					<th class="text-center">Revisado</th>
<!--					<th>Proveedor</th>
					<th>Motivo</th> -->
				</tr>
			</thead>
			<tbody>
				<% for (var i in quizes) { %>
					<tr>
<!--						<td><a name="<%= quizes[i].tema %>" href="/temas/<%= quizes[i].tema %>"><%= quizes[i].tema %> </a></td> -->

						<td class="text-center"><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].dia %>-<%= quizes[i].mes %>-<%= quizes[i].anio %></a></td>
						<td class="text-center"><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].id %></a></td>
						<td class="text-center"><%= quizes[i].UserName %></td>
						<% if (quizes[i].proceso) {%>
							<td class="text-center"><span class="" aria-hidden="true"></span></td>
						<%} else {%>
							<td class="text-center"><img src="/images/check.png" /></td>
						<%}%>
<!--						<td><%= quizes[i].proveedor %></td>
						<td><%= quizes[i].pregunta %></td> -->
						<% if (session.user) {
							if (session.user.isAdmin || session.user.id === quizes[i].UserId) {%>
								<td style="width:40px"><a class="" href="/quizes/<%= quizes[i].id %>/edit">
									<img src="/images/edit3.png" style="width: 20px;"/>
								</a></td>
								<td style="width:40px">
									<form method="post" action="/quizes/<%= quizes[i].id %>?_method=delete">
										<button class="btn btn-danger btn-xs" type="submit" onClick="return confirm('Borrar el Parte de fecha: <%= quizes[i].dia %>-<%= quizes[i].mes %>-<%= quizes[i].anio %>');">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										</button>
									</form>
								</td>
<!--								<% if (quizes[i].proceso) {%>
									<td style="width:40px"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span></td>
								<%} else {%>
									<td style="width:40px"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
								<%}%> -->
							<%}%>
						<%}%>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>

	<% if (session.user) { %>
		<p><a href="/quizes/new"><button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear parte</button></a>
			<a href="/quizes/mes_index">
				<button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i> Seleccioinar Mes</button>
			</a>
<!--			<a href="/quizes/page"><button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Mas Resultados</button></a>
		</p> -->
	<% } %>

</div>
