
<div class="container animated animated-fast fadeIn">


		<div class="form-group">

			<h5>Parte nº: <strong><%= quiz.id %></strong></h5>
			<h5>Fecha: <strong><%= quiz.dia %>-<%= quiz.mes %>-<%= quiz.anio %></strong></h5>
			<h5>Usuario: <strong><%= quiz.UserName %></strong></h5>
<!--			<h4>Proveedor: <%= quiz.proveedor %> </h4>
			<h4>Status: <%= quiz.proceso %> </h4> -->

		</div>



	<div class="container comments">

		<h4>Lecturas:</h4>

		<br>

				<% for (var index in quiz.comments) {%>

					<div class="col-sm-4">

						<% if (!session.user && quiz.comments[index].publicado) {%>

							<div class="comment-panel">

								<div class="container-fluid">

									<div class="form-group">

										<h5>id: <%= quiz.comments[index].id %></h5>
										<h5>Código: <%= quiz.comments[index].codigo %></h5>
										<h5>Nombre: <%= quiz.comments[index].nombre %></h5>
										<h5>Lectura: <%= quiz.comments[index].lectura_actual %></h5>
										<% if (quiz.comments[index].deposito) { %>
											<h5>Carga: <%= quiz.comments[index].carga %></h5>
										<%}%>

									</div>

								</div>
								<div class="container-fluid">
									<h6><span class="badge">#<%= quiz.comments[index].id %></span>
									<small><%= quiz.comments[index].createdAt.toLocaleString() %></small></h6>
								</div>
							</div>
						<%}%>

						<% if (session.user) {%>
							<div class="comment-panel">

								<div class="container-fluid">

									<% if ((session.user.isAdmin || (session.user && quiz.UserId === session.user.id))) {%>


										<h5><span class="badge">#<%=quiz.comments[index].id%></span></h5>
										<h4 class="text-center"><strong><%= quiz.comments[index].codigo %> - <%= quiz.comments[index].nombre %></strong></h4>
										<h5>Ubicación: <strong><%= quiz.comments[index].ubicacion %></strong></h5>


										<form class="form-horizontal" method="post" action="/quizes/<%=quiz.id%>/comments/<%=quiz.comments[index].id%>/update?_method=put">

											<input type="text" class="form-control hidden" id="codigo" name="comment[codigo]" value="<%=quiz.comments[index].codigo%>" pattern="[0-9]{1,}"/></h5>

											<div class="form-group">
												<div class="col-md-3" style="margin-top: 6px;">
													<label for="lectura_actual">Lectura</label>
												</div>
												<div class="col-md-9">
													<input type="text" class="form-control" id="lectura_actual" name="comment[lectura_actual]" value="<%= (quiz.comments[index].lectura_actual).toFixed(2) %>" step="0.01"/>
												</div>
											</div>

											<% if (quiz.comments[index].deposito) { %>
												<div class="form-group">

													<div class="col-md-3" style="margin-top: 6px;">
														<label for="carga">Carga</label>
													</div>
													<div class="col-md-9">
														<input type="text" class="form-control" id="carga" name="comment[carga]" value="<%= (quiz.comments[index].carga).toFixed(2) %>" step="0.01"/>
													</div>
												</div>
											<%} else {%>
												<div class="form-group">

													<div class="col-md-3" style="margin-top: 6px;">

													</div>
													<div class="col-md-9">

													</div>
												</div>
											<%}%>



											<div class="col-md-12">

					                            <div class="panel-group" id="agregar-comentario" role="tablist" aria-multiselectable="true">

					                                <div class="faq">
					                                    <div class="panel-heading" role="tab" id="agregar">
					                                        <h4 class="panel-title">
					                                            <a id="ver-textaera" role="button" data-toggle="collapse" data-parent="#agregar-comentario" href="#<%=quiz.comments[index].id%>" aria-expanded="true" aria-controls="collapseOne">
																	<% if (!quiz.comments[index].texto) { %>
																		<i class="fa fa-plus"></i> Añadir comentarios
																	<%} else {%>
																		<i class="fa fa-arrow-down"></i> Ver comentarios

																	<%}%>


					                                            </a>
					                                        </h4>
					                                    </div>
					                                    <div id="<%=quiz.comments[index].id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="agregar">
					                                        <div class="panel-body">

					                                            <div class="form-group">

					                			    				<textarea class="form-control comment-row" rows="5" name="comment[texto]"><%=quiz.comments[index].texto%></textarea>

					                							</div>

					                                        </div>
					                                    </div>
					                                </div>

					                            </div>
											</div>

											<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Enviar</button>


										</form>


									<%} else if (quiz.comments[index].publicado) {%>


										<h5><span class="badge">#<%=quiz.comments[index].id%></span></h5>
										<h5>Código: <%= quiz.comments[index].codigo %></h5>
										<h5>Nombre: <%= quiz.comments[index].nombre %></h5>
										<h5>Lectura: <%= (quiz.comments[index].lectura_actual).toFixed(2) %></h5>




									<%}%>

								</div>

								<br>

								<div class="container-fluid">
									<%if ((session.user.isAdmin || (session.user && quiz.UserId === session.user.id))) {%>
							 			<%if (!quiz.comments[index].publicado) {%>
											<h6>
											<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>/publish">
												<button class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Publicar">
													<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
												</button>
											</a>
										<%} else if	(quiz.comments[index].publicado) {%>
											<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>/unpublish">
												<button class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Ocultar">
													<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
												</button>
											</a>
										<%}%>
										<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.comments[index].id%>/destroy">
											<button class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Eliminar">
												<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
											</button>
										</a>

										</h6>

									<%}%>
								</div>

							</div>
						<%}%>
					</div>
				<%}%>



<!--		<p><a href="/quizes/<%= quiz.id %>/comments/new"><button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Nuevo comentario</button></a>
		</p> -->

	</div>

</div>
