
<div class="container-fluid animated animated-fast fadeIn margen_superior" id="siloes_index">

	<h4><img src="/images/probetas.png" alt="" /> Partes de Ensayos</h4>

<!--		<% if (session.user) { %>
		<div class="btn-group" role="group" aria-label="...">
		<a href="/siloes">
  				<button type="button" class="btn btn-default">Mes</button>
  			</a>
  			<a href="/siloes/opened">
				<button type="button" class="btn btn-default">Abiertos</button>
			</a>
			<a href="/siloes/closed">
				<button type="button" class="btn btn-default">Cerrados</button>
			</a>






		</div>
	<%}%> -->

	<div class="panel panel-default table-responsive">

		<table class="table table-striped table-hover">

			<thead>
				<tr>
					<th class="text-center">Fecha</th>
					<th class="text-center">Número</th>
					<th class="text-center">User</th>
					<th class="text-center">Revisado</th>
				</tr>
			</thead>


			<tbody>
				<% for (var i in siloes) { %>
					<a href="/siloes/<%= siloes[i].id %>">
					<tr>
						<td class="text-center"><a href="/siloes/<%= siloes[i].id %>"><%= siloes[i].dia %>-<%= siloes[i].mes %>-<%= siloes[i].anio %></a></td>
						<td class="text-center"><a href="/siloes/<%= siloes[i].id %>"><%= siloes[i].id %></a></td>
						<td class="text-center"><a href="/siloes/<%= siloes[i].id %>"><%= siloes[i].UserName %></a></td>
						<td class="text-center">
							<% if (siloes[i].estado === 'abierto') {%>
								<span class="" aria-hidden="true"></span>
							<%} else if (siloes[i].estado === 'cerrado') {%>
								<i class="fa fa-check"></i>
							<%}%>
						</td>
						<% if (session.user) {
							if (session.user.isAdmin || session.user.id === siloes[i].UserId) {%>
								<td style="width:40px"><a class="" href="/siloes/<%= siloes[i].id %>/print">
									<img src="/images/printer.png" style="width: 20px;"/>
								</a></td>
								<td style="width:40px"><a class="" href="/siloes/<%= siloes[i].id %>/edit">
									<img src="/images/edit3.png" style="width: 20px;"/>
								</a></td>
								<td style="width:40px">
									<form method="post" action="/siloes/<%= siloes[i].id %>/destroy?_method=delete">
										<button class="btn btn-danger btn-xs" type="submit" onClick="return confirm('Borrar el Parte de fecha: <%= siloes[i].dia %>-<%= siloes[i].mes %>-<%= siloes[i].anio %>');">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										</button>
									</form>
								</td>
							<%}%>
						<%}%>
					</tr></a>

				<% } %>
			</tbody>
		</table>
	</div>

	<% if (session.user) { %>
<!--		<p><a href="/siloes/new"><button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear parte</button></a>
			<a href="/siloes/mes_index">
				<button type="button" class="btn btn-primary"><i class="fa fa-calendar"></i> Seleccioinar Mes</button>
			</a>
			<a href="/siloes/page"><button type="button" class="btn btn-primary">
			<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Mas Resultados</button></a>
		</p> -->

		<ul class="tira_botones">



			<li><a class="btn btn_gral" href="/siloes/new">
				<i class="fa fa-plus" alt=""></i> Crear Parte
			</a></li>


			<li><a class="btn btn_gral" href="/siloes/mes_index">
				<i class="fa fa-calendar" alt=""></i> Selecionar mes
			</a></li>

		</ul>



	<% } %>

	<br>


</div>
