

    <h5>cantidad de ph_true: <%= ph_true %></h5>
    <h5>cantidad de ph_false: <%= ph_false %></h5>
    <h5>maximo ph: <%= ph_maximo %></h5>
    <h5>minimo ph: <%= ph_minimo %></h5>
    <h5>media de ph_true: <%= ph_medio %></h5>
    <h5>total de ph: <%= ph_total %></h5>

    <br>

    <h5>cantidad de redox_true: <%= redox_true %></h5>
    <h5>cantidad de redox_false: <%= redox_false %></h5>
    <h5>maximo redox: <%= redox_maximo %></h5>
    <h5>media redox: <%= redox_medio %></h5>
