

<div class="pre">

    <br>

    <h4 style="margin-top: 50px">Siloe Vaso: <%= vaso.nombre %></h4>
    <br>

    <h5>Nombre: <%= resumen[0].nombre %></h5>
    <h5>Muestreos: <%= resumen[0].muestreos %> </h5>
    <h5>Cumplen: <%= resumen[0].cumple %></h5>
    <h5>Media: <%= resumen[0].media %></h5>
    <h5>Máximo: <%= resumen[0].max %></h5>
    <h5>Mínimo: <%= resumen[0].min %></h5>
    <h5>No Cumplen: <%= resumen[0].incumplidos %></h5>

</div>
