
<div class="container-fluid animated animated-fast fadeIn margen_superior">

		<h4 class="texto_tipo_3 text-center">Ensayos del <%= siloe.dia %>-<%= siloe.mes %>-<%= siloe.anio %></h4>
		<br>
				<% for (var index in ensayos) {%>

						<% if (session.user) {%>
							<div class="ensayo-panel">

								<div class="container">
									<% if ((session.user.isAdmin || (session.user && siloe.UserId === session.user.id))) {%>

										<div class="row">

											<div class="col-md-6 col-sm-6 datos_cabeceras">

												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_dcha">
													<h5>Ensayo nº: </h5>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_izda">
													<h5><span class="texto_tipo_1"><%=ensayos[index].id%></span></h5>
												</div>

												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_dcha">
													<h5>Vaso: </h5>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_izda texto_tipo_1">
													<h5><%= ensayos[index].vasoId %> - <%= ensayos[index].nombre %></h5>
												</div>

												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_dcha">
													<h5>Ubicación:</h5>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_izda">
													<h5><%= ensayos[index].ubicacion %></h5>
												</div>

												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_dcha">
													<h5>Capacidad: </h5>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_izda">
													<h5><%= (ensayos[index].capacidad).toFixed(2) %><small> m3</small></h5>
												</div>

												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_dcha">
													<h5>Interior: </h5>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_izda">
													<h5>
														<% if (ensayos[index].interior) { %>
															<span class="texto_tipo_2">Sí </span><span class="texto_tipo_0"> No</span>
														<%} else {%>
															<span class="texto_tipo_0">Sí </span><span class="texto_tipo_2"> No</span>
														<%}%>
													</h5>
												</div>

												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_dcha">
													<h5>Tipo de ensayo: </h5>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-6 alineacion_izda">
													<h5><%= ensayos[index].tipo_ensayo %></h5>
												</div>

											</div>

										</div>


										<form class="form-horizontal" method="post" action="/siloes/<%=siloe.id%>/ensayos/<%=ensayos[index].id%>/update?_method=put">
											<div class="container">
												<div id="accordion" role="tablist">

											  		<div class="card">

											    		<div class="card-header" role="tab" id="headingOne">
											      			<h5 class="mb-0">
											        			<a data-toggle="collapse" href="#<%= ensayos[index].id + 10 %>" aria-expanded="true" aria-controls="<%= ensayos[index].id + 10 %>">
											          				<strong> Bacteriológicos:</strong> E. Coli, Psudomoma, Enterococos, Staphlylococos ...
																	<% if ((ensayos[index].transparencia_m  === 'no cumple') ||
																		(ensayos[index].extranios_m  === 'no cumple') ||
																		(ensayos[index].ecoli_m  === 'no cumple') ||
																		(ensayos[index].pseudomona_m  === 'no cumple') ||
																		(ensayos[index].enterococos_m  === 'no cumple') ||
																		(ensayos[index].staphlylococcus_m  === 'no cumple')) { %>
																			⚠️
																	<%}%>
											        			</a>
											      			</h5>
											    		</div>

											    		<div id="<%= ensayos[index].id + 10 %>" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
											      			<div class="card-body">
																<div class="marco_grupo_desplegables animated fadeIn">
																	<div class="row items_ensayo">

																		<div class="col-md-4 col-sm-4">
																			<div class="marco_item">
																				<div class="form-group">
																		    		<label for="transparencia" class="col-md-6 control-label">Transparencia
																						<% if (ensayos[index].transparencia_m  === 'no cumple') { %>
																							<img src="/images/info4.png" alt="" />
																						<%}%>
																					</label>
																		    		<div class="col-sm-6">
																		    			<select class="form-control" id="transparencia_m" name="ensayo[transparencia_m]">
																		    				<option value='cumple' <%if (ensayos[index].transparencia_m==='cumple') {%> selected <%}%>>✔️ Cumple</option>
																		    				<option value='no cumple' <%if (ensayos[index].transparencia_m==='no cumple') {%> selected <%}%>>❌ No cumple</option>
																		    				<option value='no ensaya' <%if (ensayos[index].transparencia_m==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
																		    			</select>
																		    		</div>
																		    	</div>
																			</div>
																		</div>

																		<div class="col-md-4 col-sm-4">
																			<div class="marco_item">
																				<div class="form-group">
																		    		<label for="extranios" class="col-md-6 control-label">Extraños
																						<% if (ensayos[index].extranios_m  === 'no cumple') { %>
																							<img src="/images/info4.png" alt="" />
																						<%}%>
																					</label>
																		    		<div class="col-sm-6">
																		    			<select class="form-control" id="extranios_m" name="ensayo[extranios_m]">
																		    				<option value='cumple' <%if (ensayos[index].extranios_m==='cumple') {%> selected <%}%>>✔️ Cumple</option>
																		    				<option value='no cumple' <%if (ensayos[index].extranios_m==='no cumple') {%> selected <%}%>>❌ No cumple</option>
																							<option value='no ensaya' <%if (ensayos[index].extranios_m==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
																		    			</select>
																		    		</div>
																		    	</div>
																			</div>
																		</div>

																		<div class="col-md-4 col-sm-4">
																			<div class="marco_item">
																				<div class="form-group">
																		    		<label for="ecoli" class="col-md-6 control-label">E. Coli
																						<% if (ensayos[index].ecoli_m === 'no cumple') { %>
																							<img src="/images/info4.png" alt="" />
																						<%}%>
																					</label>
																		    		<div class="col-sm-6">
																		    			<select class="form-control" id="ecoli_m" name="ensayo[ecoli_m]">
																		    				<option value='cumple' <%if (ensayos[index].ecoli_m==='cumple') {%> selected <%}%>>✔️ Cumple</option>
																		    				<option value='no cumple' <%if (ensayos[index].ecoli_m==='no cumple') {%> selected <%}%>>❌ No cumple</option>
																							<option value='no ensaya' <%if (ensayos[index].ecoli_m==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
																		    			</select>
																		    		</div>
																		    	</div>
																				<br>
																			</div>
																		</div>

																	</div> <!-- fin primer row -->

																	<div class="row items_ensayo">

																		<div class="col-md-4 col-sm-4">
																			<div class="marco_item">
																				<div class="form-group">
																		    		<label for="pseudomona" class="col-md-6 control-label">Pseudomona
																						<% if (ensayos[index].pseudomona_m === 'no cumple') { %>
																							<img src="/images/info4.png" alt="" />
																						<%}%>
																					</label>
																		    		<div class="col-sm-6">
																		    			<select class="form-control" id="pseudomona_m" name="ensayo[pseudomona_m]">
																		    				<option value='cumple' <%if (ensayos[index].pseudomona_m==='cumple') {%> selected <%}%>>✔️ Cumple</option>
																		    				<option value='no cumple' <%if (ensayos[index].pseudomona_m==='no cumple') {%> selected <%}%>>❌ No cumple</option>
																							<option value='no ensaya' <%if (ensayos[index].pseudomona_m==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
																		    			</select>
																		    		</div>
																		    	</div>
																			</div>
																		</div>

																		<div class="col-md-4 col-sm-4">
																			<div class="marco_item">
																				<div class="form-group">
																					<label for="enterococos" class="col-md-6 control-label">Enterococos
																						<% if (ensayos[index].enterococos_m === 'no cumple') { %>
																							<img src="/images/info4.png" alt="" />
																						<%}%>
																					</label>
																					<div class="col-sm-6">
																						<select class="form-control" id="enterococos_m" name="ensayo[enterococos_m]">
																							<option value='cumple' <%if (ensayos[index].enterococos_m==='cumple') {%> selected <%}%>>✔️ Cumple</option>
																							<option value='no cumple' <%if (ensayos[index].enterococos_m==='no cumple') {%> selected <%}%>>❌ No cumple</option>
																							<option value='no ensaya' <%if (ensayos[index].enterococos_m==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>

																		<div class="col-md-4 col-sm-4">
																			<div class="marco_item">
																				<div class="form-group">
																					<label for="staphlylococcus" class="col-md-6 control-label">Staphlylococcus
																						<% if (ensayos[index].staphlylococcus_m === 'no cumple') { %>
																							<img src="/images/info4.png" alt="" />
																						<%}%>
																					</label>
																					<div class="col-sm-6">
																						<select class="form-control" id="staphlylococcus_m" name="ensayo[staphlylococcus_m]">
																							<option value='cumple' <%if (ensayos[index].staphlylococcus_m==='cumple') {%> selected <%}%>>✔️ Cumple</option>
																							<option value='no cumple' <%if (ensayos[index].staphlylococcus_m==='no cumple') {%> selected <%}%>>❌ No cumple</option>
																							<option value='no ensaya' <%if (ensayos[index].staphlylococcus_m==='no ensaya') {%> selected <%}%>>🔒 No ensaya</option>
																						</select>
																					</div>
																				</div>
																			</div>
																		</div>

																	</div> <!-- fin 2º row -->

																</div>
											      			</div>
											    		</div>

											  		</div>  <!-- fin primer card del acordeon -->


												  	<div class="card">
												    	<div class="card-header" role="tab" id="headingTwo">
												      		<h5 class="mb-0">
												        		<a data-toggle="collapse" href="#<%= ensayos[index].id + 100 %>" aria-expanded="false" aria-controls="<%= ensayos[index].id + 100 %>">
												          			<strong> Físicos:</strong> Ph, Temperatura, Turbidez, Recirculación, Redox ...
																	<% if (((!ensayos[index].ph_cumple) && (ensayos[index].ph_ensayar)) ||
																		((!ensayos[index].temp_cumple) && (ensayos[index].temp_ensayar)) ||
																		((!ensayos[index].turbidez_cumple) && (ensayos[index].turbidez_ensayar)) ||
																		((!ensayos[index].recirculacion_cumple) && (ensayos[index].recirculacion_ensayar)) ||
																		((!ensayos[index].redox_cumple) && (ensayos[index].redox_ensayar))) {%>
																			⚠️
																	<%}%>
												        		</a>
												      		</h5>
												    	</div>
												    	<div id="<%= ensayos[index].id + 100 %>" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
												      		<div class="card-body">

																<div class="marco_grupo_items animated fadeIn">

																	<div class="row items_ensayo">

																		<% if (ensayos[index].ph_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="ph" class="control-label">Ph m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="ph_m" name="ensayo[ph_m]" value="<%= (ensayos[index].ph_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="ph" class="control-label">Ph t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="ph_t" name="ensayo[ph_t]" value="<%= (ensayos[index].ph_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].ph_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].temp_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="temp" class="control-label">Temp m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="temp_m" name="ensayo[temp_m]" value="<%= (ensayos[index].temp_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="temp" class="control-label">Temp t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="temp_t" name="ensayo[temp_t]" value="<%= (ensayos[index].temp_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].temp_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].turbidez_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="turbidez" class="control-label">Turbidez m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="turbidez_m" name="ensayo[turbidez_m]" value="<%= (ensayos[index].turbidez_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="turbidez" class="control-label">Turbidez t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="turbidez_t" name="ensayo[turbidez_t]" value="<%= (ensayos[index].turbidez_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].turbidez_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].recirculacion_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="recirculacion" class="control-label">Recirc m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="recirculacion_m" name="ensayo[recirculacion_m]" value="<%= (ensayos[index].recirculacion_m).toFixed(1) %>" step="1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="recirculacion" class="control-label">Recirc t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="recirculacion_t" name="ensayo[recirculacion_t]" value="<%= (ensayos[index].recirculacion_t).toFixed(1) %>" step="1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].recirculacion_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>
																	</div> <!-- fin 1er row -->

																	<div class="row items_ensayo">

																		<% if (ensayos[index].redox_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="redox" class="control-label">Redox m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="redox_m" name="ensayo[redox_m]" value="<%= (ensayos[index].redox_m).toFixed(1) %>" step="1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="redox" class="control-label">Redox t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="redox_t" name="ensayo[redox_t]" value="<%= (ensayos[index].redox_t).toFixed(1) %>" step="1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].redox_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>

																					</div>
																				</div>
																			</div>
																		<%}%>

																	</div> <!-- fin 2º row -->

																</div>
												      		</div>
												    	</div>
												  	</div> <!--fin 2º card -->


													<div class="card">
													   	<div class="card-header" role="tab" id="headingThree">
													    	<h5 class="mb-0">
													        	<a data-toggle="collapse" href="#<%= ensayos[index].id + 1000 %>" aria-expanded="false" aria-controls="<%= ensayos[index].id + 1000 %>">
													          		<strong> Químicos:</strong> Cloro, Cloro combinado, Bromo, Isocianuro ...
																	<% if (((!ensayos[index].cloro_cumple) && (ensayos[index].cloro_ensayar)) ||
																		((!ensayos[index].cloro_combinado_cumple) && (ensayos[index].cloro_combinado_ensayar)) ||
																		((!ensayos[index].bromo_cumple) && (ensayos[index].bromo_ensayar)) ||
																		((!ensayos[index].isocianuro_cumple) && (ensayos[index].isocianuro_ensayar))) {%>
																			⚠️
																	<%}%>
													        	</a>
													      	</h5>
													    </div>
													    <div id="<%= ensayos[index].id + 1000 %>" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
													     	<div class="card-body">
																<div class="marco_grupo_items animated fadeIn">
																	<div class="row items_ensayo">

																		<% if (ensayos[index].cloro_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="cloro" class="control-label">Cloro m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="cloro_m" name="ensayo[cloro_m]" value="<%= (ensayos[index].cloro_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="cloro" class="control-label">Cloro t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="cloro_t" name="ensayo[cloro_t]" value="<%= (ensayos[index].cloro_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].cloro_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].cloro_combinado_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="cloro_combinado" class="control-label">Cloro C m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="cloro_combinado_m" name="ensayo[cloro_combinado_m]" value="<%= (ensayos[index].cloro_combinado_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="cloro_combinado" class="control-label">Cloro C t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="cloro_combinado_t" name="ensayo[cloro_combinado_t]" value="<%= (ensayos[index].cloro_combinado_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].cloro_combinado_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].bromo_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="bromo" class="control-label">Bromo m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="bromo_m" name="ensayo[bromo_m]" value="<%= (ensayos[index].bromo_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="bromo" class="control-label">Bromo t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="bromo_t" name="ensayo[bromo_t]" value="<%= (ensayos[index].bromo_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].bromo_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].isocianuro_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="isocianuro" class="control-label">Isocianuro m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="isocianuro_m" name="ensayo[isocianuro_m]" value="<%= (ensayos[index].isocianuro_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="isocianuro" class="control-label">Isocianuro t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="isocianuro_t" name="ensayo[isocianuro_t]" value="<%= (ensayos[index].isocianuro_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].isocianuro_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																	</div> <!-- fin 1er row -->

																</div>
													      	</div>
													    </div>
													</div> <!-- fin del 3er card -->

													<div class="card">
													   	<div class="card-header" role="tab" id="headingFour">
													    	<h5 class="mb-0">
													        	<a data-toggle="collapse" href="#<%= ensayos[index].id + 10000 %>" aria-expanded="false" aria-controls="<%= ensayos[index].id + 10000 %>">
													          		<strong> Interior:</strong> Humedad, Co2, Legionella, Langelier ...
																	<% if (((!ensayos[index].humedad_cumple) && (ensayos[index].humedad_ensayar)) ||
																		((!ensayos[index].co2_interior_cumple) && (ensayos[index].co2_interior_ensayar)) ||
																		((!ensayos[index].co2_exterior_cumple) && (ensayos[index].co2_exterior_ensayar)) ||
																		((!ensayos[index].legionella_cumple) && (ensayos[index].legionella_ensayar)) ||
																		((!ensayos[index].langelier_cumple) && (ensayos[index].langelier_ensayar))) {%>
																			⚠️
																	<%}%>
													        	</a>
													      	</h5>
													    </div>
													    <div id="<%= ensayos[index].id + 10000 %>" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
													     	<div class="card-body">
																<div class="marco_grupo_items animated fadeIn">
																	<div class="row items_ensayo">

																		<% if (ensayos[index].humedad_ensayar) {%>
																		<div class="col-md-3 col-sm-3">
																			<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="humedad" class="control-label">Humedad m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="humedad_m" name="ensayo[humedad_m]" value="<%= (ensayos[index].humedad_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="humedad" class="control-label">Humedad t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="humedad_t" name="ensayo[humedad_t]" value="<%= (ensayos[index].humedad_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].humedad_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].co2_interior_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="co2_interior" class="control-label">CO2 Int m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="co2_interior_m" name="ensayo[co2_interior_m]" value="<%= (ensayos[index].co2_interior_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="co2_interior" class="control-label">CO2 Int t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="co2_interior_t" name="ensayo[co2_interior_t]" value="<%= (ensayos[index].co2_interior_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].co2_interior_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].co2_exterior_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="co2_exterior" class="control-label">CO2 Ext m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="co2_exterior_m" name="ensayo[co2_exterior_m]" value="<%= (ensayos[index].co2_exterior_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="co2_exterior" class="control-label">CO2 Ext t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="co2_exterior_t" name="ensayo[co2_exterior_t]" value="<%= (ensayos[index].co2_exterior_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].co2_exterior_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																		<% if (ensayos[index].legionella_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="legionella" class="control-label">Legionella m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="legionella_m" name="ensayo[legionella_m]" value="<%= (ensayos[index].legionella_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="legionella" class="control-label">Legionella t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="legionella_t" name="ensayo[legionella_t]" value="<%= (ensayos[index].legionella_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].legionella_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>
																					</div>
																				</div>
																			</div>
																		<%}%>

																	</div> <!-- fin 1er row -->

																	<div class="row items_ensayo">

																		<% if (ensayos[index].langelier_ensayar) {%>
																			<div class="col-md-3 col-sm-3">
																				<div class="marco_item">
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="langelier" class="control-label">Langelier m</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="langelier_m" name="ensayo[langelier_m]" value="<%= (ensayos[index].langelier_m).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="form-group">
																						<div class="col-md-6 col-xs-4 item_ensayo">
																							<label for="langelier" class="control-label">Langelier t</label>
																						</div>
																						<div class="col-md-6 col-xs-8">
																							<input type="number" class="form-control" id="langelier_t" name="ensayo[langelier_t]" value="<%= (ensayos[index].langelier_t).toFixed(1) %>" step="0.1"/>
																						</div>
																					</div>
																					<div class="row pie_grupo_items_ensayo">
																						<div>
																							<% if (!ensayos[index].langelier_cumple) { %>
																								<img class="center-block" src="/images/info4.png" alt="" />
																							<%}%>
																						</div>

																					</div>
																				</div>
																			</div>
																		<%}%>

																	</div> <!-- fin 2º row -->

																</div>
													      	</div>
													    </div>
													</div> <!-- fin del 4º card -->

												</div> <!-- fin acordeon -->

											</div>


											<div class="row">
												<div class="col-md-6">
						                            <div class="panel-group" id="agregar-comentario" role="tablist" aria-multiselectable="true">
						                                <div class="faq">
						                                    <div class="panel-heading" role="tab" id="agregar">
						                                        <h4 class="panel-title">
						                                            <a id="ver-textaera" role="button" data-toggle="collapse" data-parent="#agregar-comentario" href="#<%=ensayos[index].id%>" aria-expanded="true" aria-controls="collapseOne">
																		<% if (!ensayos[index].texto) { %>
																			<i class="fa fa-plus"></i> Añadir comentarios
																		<%} else {%>
																			<i class="fa fa-arrow-down texto_tipo_2"></i> Ver comentarios
																		<%}%>
						                                            </a>
						                                        </h4>
						                                    </div>
						                                    <div id="<%=ensayos[index].id%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="agregar">
						                                        <div class="panel-body">
						                                            <div class="form-group">
						                			    				<textarea class="form-control comment-row" rows="5" name="ensayo[texto]"><%=ensayos[index].texto%></textarea>
						                							</div>
						                                        </div>
						                                    </div>
						                                </div>
						                            </div>
												</div>
											</div>


											<!-- <div class="container-fluid">

												<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Confirmar</button>

											</div> -->

											<div class="col-md-12">
								                <div class="form-group text-center">
								            		<ul class="tira_botones">

								                        <li><a class="btn btn_gral btn_cancelar" href="/siloes/<%= siloe.id %>">
								                			<i class="fa fa-times texto_tipo_5" alt=""></i> Cancelar
								                		</a></li>

								                		<li><button class="btn btn_gral" type="submit" id="grabar" value="Salvar">
								                			<i class="fa fa-check texto_tipo_4" alt=""></i> Grabar
								                		</button></li>

								            		</ul>
								            	</div>
								            </div>



										</form>

									<%} else {%>

										<h5><span class="badge">#<%=ensayos[index].id%></span></h5>
										<h5>Vaso: <strong><%= ensayos[index].vasoId %> - <%= ensayos[index].nombre %></strong></h5>
										<h5>Ubicación: <strong><%= ensayos[index].ubicacion %></strong></h5>
										<h5>Capacidad: <strong><%= ensayos[index].capacidad %></strong></h5>

									<%}%>

								</div>

								<br>


							</div>
						<%}%>
<!--					</div> -->
				<%}%>


</div>
