
<div class="container" id="centro_form">

    <h4><img src="/images/centros.png" alt=""> Centro</h4>
    <br>



    <div class="form-group">
        <label for="nombre" class="col-md-3 control-label">Nombre:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="nombre" name="centro[nombre]" value="<%= centro.nombre %>" placeholder="nombre"/>
        </div>
    </div>

    <div class="form-group">
        <label for="direccion" class="col-md-3 control-label">Dirección:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="direccion" name="centro[direccion]" value="<%= centro.direccion %>" placeholder="direccion"/>
        </div>
    </div>

    <div class="form-group">
        <label for="contacto" class="col-md-3 control-label">Contacto:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="contacto" name="centro[contacto]" value="<%= centro.contacto %>" placeholder="contacto"/>
        </div>
    </div>

    <div class="form-group">
        <label for="telefono" class="col-md-3 control-label">Teléfono:</label>
        <div class="col-md-9">
            <input type="text" class="form-control" id="telefono" name="centro[telefono]" value="<%= centro.telefono %>" placeholder="telefono"/>
        </div>
    </div>


    <div class="form-group">
        <label for="email" class="col-md-3 control-label">email:</label>
        <div class="col-md-9">
            <input type="email" class="form-control" id="email" name="centro[email]" value="<%= centro.email %>" placeholder="email"/>
        </div>
    </div>

    <div class="form-group">
        <label for="max_contadores" class="col-md-3 control-label">Máximo Contadores:</label>
        <div class="col-md-9">
            <input type="number" class="form-control" id="max_contadores" name="centro[max_contadores]" value="<%= centro.max_contadores %>" />
        </div>
    </div>

    <div class="form-group">
        <label for="max_vasos" class="col-md-3 control-label">Máximo Vasos:</label>
        <div class="col-md-9">
            <input type="number" class="form-control" id="max_vasos" name="centro[max_vasos]" value="<%= centro.max_vasos %>" />
        </div>
    </div>


    <div class="form-group text-center">

		<ul class="tira_botones">

			<li><a class="btn btn_gral btn_cancelar" href="/centros">
				Cancelar
			</a></li>

			<li><button class="btn btn_gral" type="submit" id="grabar" value="Salvar">
				Grabar
			</button></li>

		</ul>

	</div>


</div>
