
    <div class="container animated animated-fast fadeIn margen_superior" id="centros">

        <h4><img src="/images/centros.png" alt=""> Centros</h4>


        <div class="panel panel-default table-responsive" id="centros-panel">

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Contacto</th>
                        <th>Teléfono</th>
                        <th>email</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i in centros) { %>
                        <tr>

                            <% if (session.user) {
                                if (session.user.isSuperAdmin) {%>

                                    <td><%= centros[i].id %></td>
                                    <td><%= centros[i].nombre %></td>
                                    <td><%= centros[i].direccion %></td>
                                    <td><%= centros[i].contacto %></td>
                                    <td><%= centros[i].telefono %></td>
                                    <td><%= centros[i].email %></td>

                                    <td style="width:40px"> <a class="" href="/centros/<%= centros[i].id %>/edit">
                                        <img src="/images/edit3.png" style="width: 20px;"/>
                                    </a></td>
                                    <td style="width:40px">
                                        <form method="post" action="/centros/<%= centros[i].id %>/destroy?_method=delete">
                                            <button class="btn btn-danger btn-xs" type="submit" onClick="return confirm('Borrar el Centro: <%= centros[i].nombre %>');">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                        </form>
                                    </td>

                                <%}%>
                            <%}%>

                        </tr>
                    <%}%>
                </tbody>
            </table>
        </div>

        <% if (session.user) {
            if (session.user.isSuperAdmin) {%>
                <ul class="tira_botones">
					<li><a class="btn btn_gral" href="/centros/new">
						<i class="fa fa-plus" alt=""></i> Crear Centro
					</a></li>
				</ul>
            <%}%>
        <%}%>

    </div>
